
/*
 * Estilos reutilizables
 */
 .text-uppercase {
   text-transform: uppercase;
 }

 .alinearCentrado {
   text-align: center;
 }

.alineadoIzquierdo{
 text-align: left;
}

.letraPequeña {
  font-size: 15px;
  padding-top: 50px;
}

.tamanoTexto {
  font-weight: 400;
  font-size: 20px;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.bold {
  font-weight: bold;
}

.headerHover:hover {
  color: #18BC9C;
}

.container {
   width: 100%;
   padding: 0;
 }

 .espacio {
   height: 100px;
   background-color : transparent;
 }

.rayita {
  border: 3px solid white;
  width: 100px;
}

.rayitaAzul {
  border: 3px solid #2C3E50;
  width: 95px;
}

.estrella {
  color: white;
}

.estrellaAzul {
  color: #2C3E50;
}

.subTituloAzul {
  color: #333333;
  background-color: white;
}

.portfolioImagenes img{
  width: 27%;
  margin: 1%;
  cursor: pointer;
}

.download {
  background-color: transparent;
  font-size: 20px;
  color: white;
  padding: 12px;
  border-radius: 5px;
  border-color: white;
  border: 2px solid white;
}

.download:hover {
  background-color: white;
  color: #18BC9C;
  cursor: pointer;
}

.lineaDivisionFormulario {
  border-top: 1px solid #f0f0f0;
  width: 65%;
}

.tamanoLetraFormulario{
  font-size: 70%;
  font-weight: lighter;
  width: 60%;
  margin: 5px;
  border: none;
}

.botonFormulario {
  background-color: #18BC9C;
  font-size: 18px;
  color: white;
  padding: 15px;
  border-radius: 10px;
  border-style: none;
}

.subTituloFooter {
    font-size: 24px;
}

.parrafoFooter {
  font-size: 20px;
  font-weight: normal;
}

.iconosFooter {
  border: 3px solid white;
  border-radius: 100%;
  padding: 5px;
}
.row:before, .row:after {
  content: " ";
  display: table;
 }

[class*="col-"] {
   min-height: 7px;
   padding: 13px;
   float: left;
}

.col-1 {
  /*(1 / 12) * 100 */
  width: 8.333%;
}

.col-2 {
  /*(2 / 12) * 100 */
  width: 16.667%;
}

.col-3 {
  /*(3 / 12) * 100 */
  width: 25%;
}

.col-4 {
  /*(4 / 12) * 100 */
  width: 33.333%;
}

.col-5 {
  /*(5 / 12) * 100 */
  width: 41.667%;
}

.col-6 {
  /*(6 / 12) * 100 */
  width: 50%;
}

.col-7 {
  /*(7 / 12) * 100 */
  width: 58.333%;
}

.col-8 {
  /*(8 / 12) * 100 */
  width: 66.667%;
}

.col-9 {
  /*(9 / 12) * 100 */
  width: 75%;
}

.col-10 {
  /*(10 / 12) * 100 */
  width: 83.333%;
}

.col-11 {
  /*(11 / 12) * 100 */
  width: 91.666%;
}

.col-12 {
  /*(12 / 12) * 100 */
  width: 100%;
}
