/*
 * Estilos de tu proyecto
 */
 *{
     padding:0;
     margin:0;
     box-sizing: border-box;
 }

 *:before,
 *:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }

body {
  font-family:  'Montserrat', sans-serif;
  font-weight: 700;
  margin: 0 auto;
  font-size: 30px;
}

header {
    position: fixed;
    background: #2C3E50;
    width: 100%;
    padding: 20px;
}

a {
  color: white;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

h1 {
  color: white;
  font-size: 66px;
}

h2 {
  color: white;
  font-size: 24px;
  font-weight: lighter;
}

h3 {
  font-weight: bold;
  font-size: 42px;
}

div {
  display: inline-block;
}

p {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
}

span {
  font-weight: 400;
  font-size: 20px;
}
#home {
  background-color: #18BC9C;
  height: 650px;
}

#portfolio {
  color: #333333;
  background-color: white;
  height: 800px;
}

#about {
  color: white;
  background-color: #18BC9C;
  height: 550px;
}
